.content{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    line-height: 1.6;
}

.left-panel{
    flex: 70%;
    padding-right: 20px;
}

.right-panel {
    flex: 30%;
    align-self: flex-start;
    padding-left: 50px;
    border-left: 2px solid#445276;
}