.custom-select {
  width: 400px;
  margin-right: 30px;
  margin-top: 30px;
  position: relative;
}

.custom-select .select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.custom-select .select-selected:after {
  position: absolute;
  content: "";
  top: 19px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.custom-select .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 12px;
}

/*style the items (options), including the selected item:*/
.custom-select .select-items div,
.custom-select .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.custom-select .select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.custom-select .select-hide {
  display: none;
}

.custom-select .select-items div:hover,
.custom-select .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
