#snackbar {
  visibility: hidden;
  left: 50%;
  /* margin-left and width are defined with JS, to calculate the width and the position depending on the message */
  position: fixed;
  z-index: 1001;

  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 7px 16px;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  /* Animation added with JS, to controll the duration of the animation */
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
