#snackbar {
  visibility: hidden;
  left: 50%;
  /* margin-left and width are defined with JS, to calculate the width and the position depending on the message */
  position: fixed;
  z-index: 1001;

  background-color: #fff;
  color: #094a8a;
  font-weight: 600;
  box-shadow: 0px 3px 10px 0px gray;
  text-align: center;
  border-radius: 2px;
  padding: 10px 16px;
  bottom: 30px;
  display: flex;
  flex-direction: row-reverse;
}
#snackbar img{
  margin-right: 10px;
}

#snackbar.show {
  visibility: visible;
  /* Animation added with JS, to controll the duration of the animation */
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
