#slide {
    top: 300px;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 2rem;
    background-color: #e41b17;
    box-sizing: content-box;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1rem;
    color: white;
    margin-left: 50px;
    margin-top: -15px;
}

.slideshow-container {
    width: 1200px;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: 2px;
    padding: 16px;
    margin-top: -80px;
    color: #888;
    font-weight: bold;
    font-size: 10px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: 0;
    user-select: none;
    transition: transform .2s;
}


/* Position the "next button" to the right */

.next {
    margin-left: 40px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    transform: scale(1.5);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Fading animation */

.fade {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}